@tailwind base;

.logo {
  width: 200px;
}

a {
  @apply text-sekai;
}

.blog-post {
  @apply text-lg
}

blockquote {
  @apply bg-red-200;
  @apply m-4;
  @apply rounded-lg;
}

/*  */

h1 {
  @apply text-4xl
}

h2 {
  @apply text-2xl
}

h3 {
  @apply text-xl
}


@tailwind components;

@tailwind utilities;
